<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/Positions.css" />
  <link rel="stylesheet" href="/styles/Banner.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css">
  <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
  <script defer src="/js/toggleDropdown.js" defer></script>
  <script defer src="/js/position.js"></script>
  <title>Investify</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
    <!------------------ Position Table ------------------>
    <table id="userPositionTable" class="" style="width:100%">
      <thead>
        <div id="positionEntries">
          <h6>My Positions
            <% if(locals.positionData){ %>
              (<%= positionData.length %>)
                <%}%>
          </h6>
        </div>

        <tr>
          <th id="headerCells">Symbol</th>
          <th id="headerCells">Name</th>
          <th id="headerCells">Type</th>
          <th id="headerCells">Purchase Price</th>
          <th id="headerCells">Current Price</th>
          <th id="headerCells">Market Value</th>
          <th id="headerCells">Quantity</th>
          <th id="headerCells">Gain / Loss</th>
          <th id="headerCells">Gain / Loss %</th>
          <th id="headerCells" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <% if(locals.positionData){ %>
          <% positionData.forEach((item)=> { %>
            <tr id="positionRow">
              <td data-cell="identifier" id="identifier">
                <a href="" id="identifierLink">
                  <%= item.ticker_symbol %>
                </a>
              </td>

              <td data-cell="name" id="name">
                <%= item.name %>
              </td>

              <td data-cell="type" id="type">
                <%= item.type.charAt(0).toUpperCase() + item.type.slice(1) %>
              </td>

              <td data-cell="price" id="price">
                <%= item.cost_basis %>
              </td>

              <td data-cell="Institution Price" id="price">
                <%= item.institution_price %>
              </td>

              <td data-cell="Institution Value" id="price">
                <%= item.institution_value %>
              </td>

              <td data-cell="quantity" id="quantity">
                <%= item.quantity %>
              </td>

              <td data-cell="Gain / Loss" id="unrealized">
                <% var result=(item.cost_basis * item.quantity) - item.institution_value; %>
                  <% if (result> 0) { %>
                    <span style="color: #009900;">
                      <%= result %></i>
                    </span>
                    <% } else if (result==0){ %>
                      <span>
                        <%= result %>
                      </span>
                      <% } else { %>
                        <span style="color: #CC0000;">-$<%= Math.abs(result) %></i></span>
                        <% } %>
              </td>

              <td data-cell="Gain / Loss Percentage" id="realized">
                <% var result= ((item.cost_basis * item.quantity - (item.institution_value)) / item.institution_value) * 100 %>
                  <% if (result > 0) { %>
                    <span style="color: #009900;">+<%= result.toFixed(2) %>%</span>
                    <% } else if (result==0){ %>
                      <span>
                        <%= result %>
                      </span>
                      <% } else { %>
                        <span style="color: #CC0000;">-<%= Math.abs(result).toFixed(2) %>%<i
                              class="fa-solid fa-arrow-trend-down"></i></span>
                        <% } %>
              </td>

              <td data-cell="actions" id="action">
                <button popovertarget="modal" id="actionButton">
                  Buy
                </button>

                <div id="modal" popover>
                  <button popovertarget="modal" popovertargetaction="hide"
                    style="position: absolute; top: 0; right: 0;">X</button>
                  <input type="button" value="Buy">
                  <input type="button" value="Sell">
                  <input type="button" value="Sell All">
                </div>
              </td>

            </tr>
            <% }) %>
              <% } %>
      </tbody>
    </table>
</body>

</html>